---
permalink: 404.html
---
<main
  class="
    page-inset-margin max-is-prose xl:mli-auto my-8

    {% #content styles - TODO: convert these to @apply rules %}
    [&>p]:mlb-4 [&>blockquote>p]:mlb-4 [&>pre]:max-is-full [&_:is(h1,h2,h3,h4,h5,h6)]:mbs-10 [&_:is(h1,h2,h3,h4,h5,h6)]:mbe-5 [&_:is(ul,ol)>li>p]:mlb-2 text-lg [&>blockquote]:border-s-4 [&>blockquote]:ps-5 [&>blockquote]:font-light [&>blockquote]:italic [&>blockquote]:tracking-tight [&>blockquote]:text-gray-500 dark:[&>blockquote]:text-gray-400 [&>pre]:overflow-auto [&_:is(h1,h2,h3,h4,h5,h6)]:font-light [&_:is(h1,h2,h3,h4,h5,h6)]:leading-none [&_:is(h1,h2,h3,h4,h5,h6)]:tracking-tight [&_:is(ul,ol)]:ps-5 sm:[&_:is(ul,ol)]:ps-0 sm:[&_:is(ul,ol)_:is(ul,ol)]:ps-5 [&_h1]:text-4xl sm:[&_h1]:text-5xl [&_h2]:text-3xl [&_h3]:text-2xl [&_h4]:text-xl [&_ol]:list-decimal [&_ul>li]:marker:text-gray-400 [&_ul]:list-disc
  "
>
  <h1>It’s not here.</h1>

  <p>Whatever it was you were looking for, it’s not here. Unless you were looking for this.</p>

  <p><a href="/">Try my home page.</a></p>
</main>
