---
layout: default
permalink: "/"
# scripts:
#   - src: /assets/scripts/seamless-scroll-polyfill/bundle.min.js
#     inline: "seamless.polyfill();"
---
<script defer src="/assets/scripts/scroll-region.js"></script>
{% liquid
  capture notes
    render index/notes, notes: collections.note
  endcapture

  render index/scroll-region, id: 'notes', content: notes, extra_styles : '-mbs-6 pbs-2' # arrow overlaps preceding margin
%}

{% liquid
  capture web-dev
    assign tag = 'web development'
    assign title = 'Build the Web'
    assign tagLine = 'Make pixels change colour with code, to create beautiful, accessible experiences.'
    assign blurb = 'As Director of Front End Engineering at <a href="https://www.cultureamp.com/">Culture Amp</a>, I lead a practice of about 50 engineers to build interfaces that help users create a better world of work. After more than 20 years in the field, I continue to learn and explore what is possible on the Web.'
    render index/articles, title: title, tagLine: tagLine, blurb: blurb, articles: collections[tag], tag: tag
  endcapture

  render index/scroll-region, id: 'web-dev', content: web-dev
%}

{% liquid
  capture power-user
    assign tag = 'tech'
    assign title = 'Know your tools'
    assign tagLine = 'Technology is a superpower. Make it work for you.'
    assign blurb = 'One of the gifts of a career in software development is the ability to automate away your own problems with custom software. I love to explore the little-known features and extension points in the technology I use, particularly in the Apple ecosystem.'
    render index/articles, title: title, tagLine: tagLine, blurb: blurb, articles: collections[tag], tag: tag
  endcapture

  render index/scroll-region, id: 'tech', content: power-user, theme: 'theme-blue'
%}

{% liquid
  capture otherPosts
    assign collection = collections.post | whereExcludes: 'data.tags', 'web development' | whereExcludes: 'data.tags', 'tech'
    assign title = 'The rest'
    assign tagLine = 'Personal stuff. Highs and lows.'
    render index/articles, title: title, tagLine: tagLine, articles: collection
  endcapture

  render index/scroll-region, id: 'other', content: otherPosts, theme: 'theme-green'
%}
