---
layout: default
pagination:
  data: collections.post
  reverse: true
  size: 5
  alias: posts
permalink: "{% if pagination.pageNumber > 0 %}/blog/page/{{ pagination.pageNumber | plus: 1 }}{% endif %}/"
---

<div class="home">

  {% if pagination.pageNumber == 0 %}
  {% assign firstPost = pagination.items[0] %}
  <div class="post">

    <header class="post-header">
      <h1><a class="post-link" href="{{ firstPost.url }}">{{ firstPost.data.title }}</a></h1>
      <p class="meta"><time datetime="{{ firstPost.date }}">{{ firstPost.date | date: "%b %-d, %Y" }}</time></a>{% if firstPost.data.author %} • {{ firstPost.data.author }}{% endif %}{% if firstPost.data.categories %} • in categories: {% for cat in firstPost.data.categories %}<span class="p-category category">{{ cat }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}</p>

    </header>

    <article class="post-content">
    {{ firstPost.templateContent }}
    </article>

  </div>
  {% endif %}

  <h1>{% if pagination.pageNumber == 0 %}Other {% endif %}Recent Posts {% if pagination.pageNumber > 0 %}(page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.hrefs.length }}){% endif %}</h1>

  <ul class="posts">
    {% for post in pagination.items %}
      {% if post != firstPost %}
      <li><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        <p>
          {% if post.data.excerpt %}
            {{ post.data.excerpt | remove: '<p>' | remove: '</p>' }}
          {% else %}
            {{ post.templateContent | remove: '<p>' | remove: '</p>' }}
          {% endif %}
        </p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="previous">previous</a>
    {% else %}
      previous
    {% endif %}
    <span class="page_number">page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.hrefs.length }}</span>
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="next">next</a>
    {% else %}
      next
    {% endif %}
  </div>

</div>
