---
layout: default
---

<div class="home">

  {% if paginator.page == 1 %}
  {% assign first_post = paginator.posts[0] %}
  <div class="post">

    <header class="post-header">
      <h1><a class="post-link" href="{{ first_post.url }}">{{ first_post.title }}</a></h1>
      <p class="meta">{{ first_post.date | date: "%b %-d, %Y" }}{% if first_post.author %} • {{ first_post.author }}{% endif %}{% if first_post.meta %} • {{ first_post.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
    {{ first_post.content }}
    </article>

  </div>
  {% endif %}

  <h1>{% if paginator.page == 1 %}Other {% endif %}Recent Posts {% if paginator.page > 1 %}(page {{ paginator.page }} of {{ paginator.total_pages }}){% endif %}</h1>

  <ul class="posts">
    {% for post in paginator.posts %}
      {% if post != first_post %}
      <li><span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" class="previous">previous</a>
    {% endif %}
    <span class="page_number">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">next</a>
    {% endif %}
  </div>

</div>
