@layer utilities {
  .theme-blue {
    --color-theme-50: var(--color-blue-50);
    --color-theme-100: var(--color-blue-100);
    --color-theme-200: var(--color-blue-200);
    --color-theme-300: var(--color-blue-300);
    --color-theme-400: var(--color-blue-400);
    --color-theme-500: var(--color-blue-500);
    --color-theme-600: var(--color-blue-600);
    --color-theme-700: var(--color-blue-700);
    --color-theme-800: var(--color-blue-800);
    --color-theme-900: var(--color-blue-900);
  }

  .theme-green {
    --color-theme-50: var(--color-green-50);
    --color-theme-100: var(--color-green-100);
    --color-theme-200: var(--color-green-200);
    --color-theme-300: var(--color-green-300);
    --color-theme-400: var(--color-green-400);
    --color-theme-500: var(--color-green-500);
    --color-theme-600: var(--color-green-600);
    --color-theme-700: var(--color-green-700);
    --color-theme-800: var(--color-green-800);
    --color-theme-900: var(--color-green-900);
  }


}

/* Post styles */
/* ----------------------------------------------------------*/

.post-content table {
  border: 1px solid currentColor;
  border-collapse: separate;
  border-spacing: 0;
  caption-side: bottom;
}

.post-content table.scores td {
  text-align: center;
}

.post-content table.scores tbody th {
  font-weight: normal;
  white-space: nowrap;
}

.post-content table.scores th:first-child {
  text-align: end;
}

.post-content .table-scroll {
  position: relative;
  width: 100%;
  overflow: auto;
}

.post-content .table-scroll table {
  width: 100%;
}

.post-content .table-scroll tr *:first-child {
  position: sticky;
  left: 0;
}

.post-content td,
.post-content th {
  background: #fff;
  border: 1px solid currentColor;
  padding: 0 0.2em;
}

/* terminal */
.post-content pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
}

.post-content pre.terminal code {
  background-color: #333;
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
  .footer-col-1 {
    width: 50%;
  }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }
}

@media screen and (max-width: 600px) {
  .site-footer .column {
    float: none;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 15px;
  }
}
