<script defer src="/assets/scripts/scroll-to-note.js"></script>
<div id="recent-notes" class="relative pbe-6">
  <div
    tabindex="0"
    role="region"
    aria-label="recent notes"
    class="
      page-inset-padding flex relative group
      {% #arrow overlaps preceding margin %}
      -mbs-6 pbs-2
      {% #invisible horizontal scrollbar %}
      overflow-x-scroll [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden
      {% #scroll snapping %}
      snap-x snap-mandatory scroll-pl-4 sm:scroll-pl-12
      {% #focus ring %}
      focus-visible:bg-accent-200 focus-visible:outline-none dark:focus-visible:bg-accent-900
    "
  >
    {{ content }}
  </div>
  <div class="absolute flex gap-2 block-end-0 inline-start-4 sm:inline-start-12">
    <button
      tabindex="-1"
      class="scroll-to-note-previous text-accent-900 hover:text-accent-700 active:text-black dark:active:text-white"
    >
      <svg
        viewBox="0 0 2 2"
        version="1.1"
        xmlns="https://www.w3.org/2000/svg"
        xmlns:xlink="https://www.w3.org/1999/xlink"
        class="bs-3 is-3"
        fill="currentColor"
      >
        <title>scroll left</title>
        <polygon points="2,0 0,1 2,2">
      </svg>
    </button>
    <button
      tabindex="-1"
      class="scroll-to-note-next text-accent-900 hover:text-accent-700 active:text-black dark:active:text-white"
    >
      <svg
        viewBox="0 0 2 2"
        version="1.1"
        xmlns="https://www.w3.org/2000/svg"
        xmlns:xlink="https://www.w3.org/1999/xlink"
        class="bs-3 is-3"
        fill="currentColor"
      >
        <title>scroll right</title>
        <polygon points="0,0 2,1 0,2">
      </svg>
    </button>
  </div>
</div>
