<!doctype html>
<html lang="{{ site.lang }}">
  {% include head %}

  <body
    class="theme-theme-600 plb-4 sm:plb-12 bg-white text-black dark:bg-gray-900 dark:text-white"
  >
    {% include header %}

    <main class="py-8">{{ content }}</main>

    {% include footer %}
  </body>
</html>
