<!doctype html>
<html lang="{{ site.lang }}">
  {% include head %}

  <body
    class="bg-white text-black accent-accent-600 plb-4 dark:bg-gray-900 dark:text-white sm:plb-12"
  >
    {% include header %}

    <main class="py-8">{{ content }}</main>

    {% include footer %}
  </body>
</html>
