<!doctype html>
<html lang="{{ site.lang }}">
  {% include head %}

  <body
    class="theme-theme-600 bg-white text-black plb-4 dark:bg-gray-900 dark:text-white sm:plb-12"
  >
    {% include header %}

    <main class="py-8">{{ content }}</main>

    {% include footer %}
  </body>
</html>
