<!doctype html>
<html lang="{{ site.lang }}">
  {% include head %}

  <body
    class="text-black bg-white dark:text-white dark:bg-slate-900 accent-accent-600 plb-4 sm:plb-12"
  >
    {% include header %}

    <main class="py-8">{{ content }}</main>

    {% include footer %}
  </body>
</html>
