---
layout: default
---
<article class="post h-entry hentry" itemprop="articleBody">

  <header class="post-header">
    <h1 class="p-name entry-title" itemprop="headline">{{ title }}</h1>
    <p class="meta"><a class="u-url" href="{{ page.url }}"><time itemprop="datePublished" class="dt-published published" datetime="{{ date }}">{{ date | date: "%b %-d, %Y" }}</time></a>{% if author %} • <span class="p-author author">{{ author }}</span>{% endif %}{% if categories %} • in categories: {% for cat in categories %}<span class="p-category category">{{ cat }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}</p>
  </header>

  <div class="post-content e-content entry-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
