@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap");

@import "tailwindcss";

@plugin "tailwindcss-logical";

@source "../{_includes,_layouts}/**/*.{html,liquid}";
@source "../*.{html,liquid}";

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(:not([data-theme] *)) {
      @slot;
    }
  }
}

@theme {
  --color-theme-50: var(--color-red-50);
  --color-theme-100: var(--color-red-100);
  --color-theme-200: var(--color-red-200);
  --color-theme-300: var(--color-red-300);
  --color-theme-400: var(--color-red-400);
  --color-theme-500: var(--color-red-500);
  --color-theme-600: var(--color-red-600);
  --color-theme-700: var(--color-red-700);
  --color-theme-800: var(--color-red-800);
  --color-theme-900: var(--color-red-900);
}

@import "./imports/base.css";
@import "./imports/components.css";
@import "./imports/utilities.css";
